/*-----Testing----*/

.testCol {
    border: 1px solid blue;
    background-color: grey;
}


/*-----Header (Menu)----*/
.myHeader {
	background-color: #EEE3D3;
}

.myHeader .headerRow .headerCol .navBarCont .navBarRow .navBarCol {
    text-align: right;
}

.myHeader .headerRow .headerCol .navBarCont .navBarRow .navBarCol .menuContainer{
	padding-top: 10px;
}

.myHeader .headerRow .headerCol .navBarCont .navBarRow .navBarCol .menuContainer .menuItem {
    margin-right: 12px;
}


/*-----Banner (Form Search)----*/
.banner {
	background-color: #FBF9F6;
}

.banner .banerRow .bannerCol .searchForm {
    text-align: center;
}

.banner .banerRow .bannerCol .searchForm .myForm {
    padding: 212px 212px;
}

/*----Thumbnail----*/
.myThumbnail .thumbnailRow{
	padding-top: 10px;
	background-color: #FFF8EE;
}

.myThumbnail .thumbnailRow .thumbnailCol .row .thumbCont .thumbLink .thumbPrg {
    padding: 10px 10px;
}

.myThumbnail .thumbnailRow .thumbnailCol .thumbnailSubRow .thumbSubRowCol .thumbnail {
    text-align: center;
}


/*-----Footer----*/
.myFooter{
	background-color: #EEE3D3;
}
.myFooter .footerlRow .footerCol {
    text-align: right;
}

.myFooter .footerlRow .footerCol .footerNavBar .footerMenuBtn {
    margin: 5px 2px;
}
